In [10]:
# Imports
 
import pandas as pd
from collections import Counter

In [2]:
# Data load

df = pd.read_csv('../data/netflix_clean.csv')

In [ ]:
# KPIs

print(f'Total titles: {len(df)}')

Total titles: 8790

In [5]:
# titles by type

titles_by_type = df['type'].value_counts()
print('Titles by type:\n', titles_by_type)

Titles by type:
 type
Movie      6126
TV Show    2664
Name: count, dtype: int64

In [8]:
# top 10 countries

top_countries = df['country'].value_counts().head(10)
print(f'Top countries:\n {top_countries}')

Top countries:
 country
United States     2809
India              972
unknown            829
United Kingdom     418
Japan              243
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Name: count, dtype: int64

In [15]:
# Content added per year
df['year_added'] = pd.to_datetime(df['date_added']).dt.year

titles_per_year = df['year_added'].value_counts().sort_index()
print('Titles added per year: \n', titles_per_year)

Titles added per year:
 year_added
2008       2
2009       2
2010       1
2011      13
2012       3
2013      11
2014      24
2015      82
2016     426
2017    1185
2018    1648
2019    2016
2020    1879
2021    1498
Name: count, dtype: int64

In [24]:
# most common genres

genre_series = df['listed_in'].str.split(', ')
genre_list = [genre for sublist in genre_series for genre in sublist]
genre_list = [genre.replace('[', '').replace(']', '').replace("'", '').replace(' ', '') for genre in genre_list]
top_genres = pd.Series(Counter(genre_list)).nlargest(10)


print('Top Genres:\n',top_genres)

Top Genres:
 InternationalMovies      2752
Dramas                   2426
Comedies                 1674
InternationalTVShows     1349
Documentaries             869
Action&Adventure          859
TVDramas                  762
IndependentMovies         756
Children&FamilyMovies     641
RomanticMovies            616
dtype: int64

In [ ]:
# Average duration
avg_duration = df.groupby('type')['duration_num'].mean()
print('Average Duration by Type:\n', avg_duration)

Average Duration by Type:
 type
Movie      99.584884
TV Show     1.751877
Name: duration_num, dtype: float64

In [33]:
df[['type','duration_int']]

         type  duration_int
0       Movie             9
1     TV Show             2
2     TV Show             1
3     TV Show             1
4     TV Show             2
...       ...           ...
8785    Movie             1
8786  TV Show             2
8787    Movie             8
8788    Movie             8
8789    Movie             1

[8790 rows x 2 columns]